.header-container{
    background: #1a1820;
}
.right-block-ex{
    text-align: left;
    img{
        margin-right: 20px;
    }
    span{
        font-size: 2rem;
    }
}
.left-block-ex{
    text-align: right;
    img{
        margin-left: 20px;
    }
    span{
        font-size: 2rem;
    }
}
.example-block{
    cursor: pointer;
}
@media only screen and (max-width: 800px) {
    video{
        width: 100%;
    }
}