.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.range-block{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  div:nth-child(2){
    flex: 1 1 auto;
  }
}
.bodiesForms{
  margin-top: 5px;
  margin-bottom: 5px;
  .ui.focus.input{
    margin-bottom: 5px;
  }
  .inline{
    .modify-label{
      width: 100px!important;
    }
  }
}
.items-end{
  align-items:flex-end;
}
.edit-bodies{
  .inline{
    display: inline;
  }
}
.edit-bodies{
  .segment{
    padding-bottom: 0px;
  }
}
.picker-click{
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  margin-bottom: 10px;
  cursor: pointer;
  flex-direction: row;
  display: flex;
  .picker-color{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background: rgb(179, 85, 10);
    margin-right: 3px;
  }
}
.picker-block{
  margin-top: 5px;
  .label{
    vertical-align: top;
  }
  .picker-cover{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}
.edit-bodies{
  .message{
    margin-bottom: 10px!important;
  }
}
.ui.green.segment{
  .range-block{
    width: 100%;
    div:nth-child(1){
      width: 90%;
    }
  }
}
.popup-info{
  float:right;
  cursor: pointer;
}
.edit-form{
  margin-top: 10px;
}
.ui.menu{
  margin-bottom: 0px;
}
.hide-textarea{
  position: absolute;
  top:-9999px;
  left:-9999px;
}
.ui.segment{
  //margin-top: 0px;
  //padding: 0px;
}

